.who-we-are {
  background: linear-gradient(180deg, #fefcf8, #fefcf8, #dfece6);
  padding: 70px 70px;
  height: 500px;
}

.who-we-are h2 {
    padding: 20px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  font-family: "Newsreader";
  color: #2d4e2e;
}

.ab-text {
  font-family: "Newsreader";
  font-size: 30px;
  font-weight: 500;
  color: #2d4e2e;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.column {
  flex: 1;
  padding: 20px;
  font-size: 20px;
  line-height: 1.8;
  color: #212121;
  border-left: 1px solid #ccc;
}

.column:first-child {
  border-left: none;
  padding-right: 40px;
}